body {
    font-family: 'Abel', sans-serif;
    /* background-image: url('../images/Mountains-Scenery-from-Above-1920x1080-wide-wallpapers.net.jpg'); */
    /* background-size: cover; */
    color: rgb(26, 21, 21);
}

html ,body {
    height: 100%;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    /* flex-flow: row wrap; */
    /* background-color: #ffffff; */
    height: 94px;
    align-items: center;
    justify-content: flex-end;
    color: rgb(243, 250, 251);
    /* border-bottom: 2px solid rgba(119, 119, 119, 0.7); */
}

header h1 {
    font-weight: 500;
    margin-left: 72px;
    font-size: 30px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    margin-right: 56px;
}

.name-box {
    align-items: center;
    flex: 1;
    height: 100%;
}

/* h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 100%;
    padding:0 10px;
    background-color: #4aaaa5;
    font-size: 35px;
    color: #ffffff;
} */

header nav {
    flex: 1;
    font-size: 27px;
}

nav ul {
    list-style: none;
}

header nav li {
    /* border-right: 3px solid rgb(26, 21, 21); */
    padding: 0 15px;
}

.navitems {
    text-decoration: none;
    /* color: #777777; */
    margin: 0;
    color: rgb(243, 250, 251);
}

.navitems:hover {
    color: skyblue;
    font-size: 1.3em;
}

/* main content */
.main {
    /* background-color: white; */
    /* border: 2px solid lightslategray; */
    padding: 36px;
}

.main header {
    /* font-family: 'Georgia', Times, Times New Roman, serif; */
    justify-content: flex-start;
    font-size: 40px;
    color: #4aaaa5;

}

.inner-wrapper {
    position: absolute;
    border-radius: 1em;
    /* background-color: rgba(250, 250, 250, 0.5); */
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 42%;
    color: rgb(7, 7, 7);
    padding: 10px;
    margin: 28% auto;
    margin-left: 158px;
}

.inner-wrapper2 {
    position: absolute;
    border-radius: 1em;
    /* background-color: rgba(250, 250, 250, 0.5); */
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 36%;
    color: rgb(7, 7, 7);
    padding: 10px;
    margin: 40% auto;
    right: 0;
}

.inner-wrapper3 {
    position: absolute;
    border-radius: 1em;
    /* background-color: rgba(250, 250, 250, 0.5); */
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 42%;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 120px;
    margin-left: 130px;
}

.introduction {
    font-size: 24px;
    line-height: 130%
}

/* index section */

.first-para {
    font-size: 30px;
}

.second-para {
    margin-top: 10px;
    font-size: 22px;
}

/* .introduction > p {
    margin-top: 10px;
    font-size: 18px;
} */

.third-para {
    margin-top: 10px;
    font-size: 20px;
}

.introduction img { 
    /* position: absolute;
    float: left; */
    width: 25%;
    left: 20px;
    height: 100%;
    /* top: 120px; */

}


/* .bottom-wrapper {
    top: 400px;
    left: 20px;
    position: absolute;x
    margin: 15px;
    height: 68%;
    overflow: auto;
} */

#first-slide {
    background-image: url('../images/skyscrapper-img.jpg');
    background-size: cover;
}

#second-slide {
    background-image: url('../images/beautiful-beach-pictures-for-desktop-background-hd-wallpaper.jpg');
    background-size: cover;
}

#third-slide {
    background-image: url('../images/skyscrapper-img.jpg');
    background-size: cover;
}

.slide-container {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    block-size: 826px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: #717171;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot-container {
    margin-top: -36px; 
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot :hover {
    background-color: #717171;
}


/* Main Context */

.main-context1 {
    font-family: open sans,sans-serif;
    width: 100%;
    height: 360px;
    background-color: rgb(241, 243, 243);
    margin-top: 18px;
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-wrapper {
    font-size: 45px;
    width: 30%;
    padding: 40px;
    padding-top: 128px;
    font-weight: 600;
}

.lead-wrapper {
    width: 70%;
    padding: 40px;
    padding-top: 128px;
    font-size: 20px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);
}

.main-context2 {
    font-family: open sans,sans-serif;
    width: 100%;
    height: 360px;
    background-color: rgb(255, 255, 255);
    margin-top: 18px;
    display: flex;
}








/* CONTACT STYLE */

#form1 {
    width: 100%;
}

.inputContact {
    width: 80%;
    height: 25px;
}

textarea {
    font-size: 20px;
    width: 80%;
    height: 250px;
}

button {
    margin-top: 35px;
    font-size: 20px;
    width: auto;
    height: 50px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #4aaaa5;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}



/* Portfolio section */

.grid-item {
    width: 33%;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container img {
    height: 146px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* flex-flow: row wrap;
    background-color: #666666;
    height: 40px;
    align-items: center;
    border-top: 6px solid rgba(5, 49, 36, 0.7); */
}

h3 {
    color: #fff;
    font-size: 13px;
    text-align: center;
}
